
anaconda-client== 1.2.2


annotated-types==0.7.0
anyio==4.5.2
appdirs==1.4.4
argh==0.26.2




atomicwrites==1.4.0



backports.weakref==1.0.post1

bert-extractive-summarizer==0.10.1

bkcharts==0.2
black==19.10b0

blis==0.7.11

boto==2.49.0
boto3==1.37.23
botocore==1.37.23
Bottleneck==1.3.2
breadability==0.1.20
brotlipy==0.7.0
cachetools==5.5.2
catalogue==2.0.10
certifi==2020.12.5

click==8.1.8
cloudpathlib==0.20.0

clyent==1.2.2
colorama==0.4.6
comtypes==1.1.9
conda==4.10.1
conda-build==3.21.4

conda-verify==3.4.2
confection==0.1.5
contextlib2==0.6.0.post1

cssselect==1.2.0
cycler==0.10.0
cymem==2.0.11

cytoolz==0.11.0

decorator==4.4.2

distro==1.9.0
dlib==19.24.6
docopt==0.6.2

entrypoints==0.3
et-xmlfile==1.0.1
exceptiongroup==1.2.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fastcache==1.1.0
feedfinder2==0.0.4
feedparser==6.0.11

Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
fsspec==2025.3.0
future==0.18.2
gensim==4.3.3

google-ai-generativelanguage==0.1.0
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-language==2.17.1
google-generativeai==0.1.0rc1
googleapis-common-protos==1.69.2

grpcio==1.70.0
grpcio-status==1.62.3
h11==0.14.0
h5py==2.10.0
HeapDict==1.0.1

httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3

imageio-ffmpeg==0.5.1

importlib-resources==6.4.5



jdcal==1.4.1

jieba3k==0.35.1

jiter==0.9.0
jmespath==1.0.1

jpype1==1.5.2
json5==0.9.5

jupyter==1.0.0

konlpy==0.6.0
langcodes==3.4.1
language-data==1.3.0

llvmlite==0.36.0
locket==0.2.1

marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==1.1.1

mccabe==0.6.1
mdurl==0.1.2
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0

mkl-service==2.3.0

moviepy==1.0.3
mpmath==1.2.1

multipledispatch==0.6.0
murmurhash==1.0.12
mypy-extensions==0.4.3
mysql-connector-python==8.0.27
navigator-updater==0.2.1

newspaper3k==0.2.8

numpy==1.22.0

olefile==0.46
openai==1.69.0
opencv-python==4.10.0.84

parso==0.7.0

pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1

pkginfo==1.7.0

ply==3.11
preshed==3.0.9
proglog==0.1.10

proto-plus==1.26.1
protobuf==4.25.6



pyasn1==0.6.1
pyasn1-modules==0.4.2

pycosat==0.6.3
pycountry==24.6.1

pycurl==7.43.0.6
pydantic==2.10.6
pydantic-core==2.27.2

pygments==2.19.1
PyJWT==2.9.0

pyodbc===4.0.0-unsupported

pyreadline==2.1

pytest==6.2.3

python-dotenv==1.0.1

pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1

QtPy==1.9.0

requests-file==2.1.0
rich==13.9.4

rsa==4.9

s3transfer==0.11.4
safetensors==0.5.3
scikit-image==0.18.1

scipy==1.10.1

sgmllib3k==1.0.0
shellingham==1.5.4
simplegeneric==0.8.1

sip==4.19.13

smart-open==7.1.0

spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5

srsly==2.4.8
statsmodels==0.12.2
sumy==0.11.0

tables==3.6.1

terminado==0.9.4

thinc==8.2.5

tinysegmenter==0.3
tldextract==5.1.2
tokenizers==0.20.3

torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1

transformers==4.46.3

typer==0.15.2
typing-extensions==4.13.0

unicodecsv==0.14.1

wasabi==1.1.3

weasel==0.4.1
webencodings==0.5.1

widgetsnbextension==3.5.1

win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1

xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0

zict==2.0.0

zope.event==4.5.0

